<!--<ul class="remote-menu">-->
<!--  <li><a class="text-violet-500" routerLink="/">Home</a></li>-->
<!--</ul>-->

<!--<div class="mx-4 my-4">-->
<!--    <ek-input ngModel [minlength]="8" [maxlength]="255" name="input" label="Input length" placeholder="input placeholder">-->
<!--    </ek-input>-->
<!--</div>-->

<!--<form [formGroup]="userFormGroup">-->
<!--  <div formGroupName="status">-->
<!--    <input formControlName="id" type="text" name="username">-->
<!--  </div>-->
<!--</form>-->


<router-outlet></router-outlet>
